[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "python main.py"
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=./scripts"
